/*
    This file is part of the Dynarithmic TWAIN Library (DTWAIN).
    Copyright (c) 2002-2024 Dynarithmic Software.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

    FOR ANY PART OF THE COVERED WORK IN WHICH THE COPYRIGHT IS OWNED BY
    DYNARITHMIC SOFTWARE. DYNARITHMIC SOFTWARE DISCLAIMS THE WARRANTY OF NON INFRINGEMENT
    OF THIRD PARTY RIGHTS.
 */
#define WIN32
#include "..\h\dtwain_verinfo.h"
#include "..\h\twain.h"
#include "..\h\cfmtwain.h"
#include "winuser.h"
#include "winver.h"
#include "..\h\dtwain_resource_constants.h"
#include "..\rc\twainresourcestrings_english.rc2"

// Fake Twain dialog
IDC_DLGSELECTSOURCE DIALOG DISCARDABLE  0, 0, 214, 95
STYLE  DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Select Source"
FONT 8, "MS Sans Serif"
BEGIN
    LISTBOX         IDC_LSTSOURCES,7,18,143,62,LBS_NOINTEGRALHEIGHT |
                    WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "&Select",IDOK,161,48,45,14
    PUSHBUTTON      "&Cancel",IDCANCEL,161,66,45,14
    LTEXT           "Sources:",IDC_SOURCETEXT,9,8,100,8
END

IDC_DLGMISC DIALOG DISCARDABLE  0, 0, 240, 101
STYLE WS_POPUP
FONT 9, "Verdana"
BEGIN
    LTEXT           "Static",IDC_EDIT1,1,1,240,100,SS_SUNKEN | WS_BORDER,
                    WS_EX_DLGMODALFRAME | WS_EX_CLIENTEDGE |
                    WS_EX_STATICEDGE

END


/////////////////////////////////////////////////////////////////////////////
//
// Version
//
#include "resource_verinfo.rc2"

END
